body {
  background: white(133, 108, 100)
}
h1 {
  text-align: center;
}
.caixa1 {
   position: relative;
   background: rgb(20, 212, 164);
   width: 500px;
   height: 400px;
   color: #cad87a;
   left: 50%;
}
.menuPrincipal {
  position: absolute;
  background: rgb(83, 74, 163);
  width: 100%;
  height: 100px;
  top: 0pt;
}
nav ul {
list-style-type:none;
margin: 10;
padding: 15;
overflow: 0;
}

li {
float: left;

}
li a {
display: block;
color: #FFFFFF;
text-align: center;
padding: 20px 16px;
text-decoration:none;
font-family: 'Courier New', Courier, monospace;
}
li a {
background-color: white(0, 0, 0);
color: rgb(189, 180, 99) blue;
}
.img{
position:center;
width: 600px;
height: 100px;
background-color: #00ffff;
top: 90%;
border: 100px;
border: #89b6cf;
}
#praia {
width: 50%;
position:center ;
left: 50%;
right: 0px;
top: 0px;
left: 0%;
margin: 20px;
border-color:rgb(47, 111, 119);
border:20px;
}
